@use "reset.scss";

// 色の登録
.color-1{
    background-color: #9900CC;

}

.color-2{
    background-color: #FF9933;

}

.color-3{
    background-color:#FFE9EE;


}

.color-4{

    background-color:#B17C3D;


}

.color-5{
    background-color: #272727;

}

.color-6{
    background-color: #9C172F;
}

.color-my{
    background-color:#D00E2E ;

}

.color-my-2{
    background-color:#9FFE00 ;
    

}

.kaisen{
    background-color: #218A67;
}

.kaisen2{
    background-color: #E3CB2E;

}

.shampoo{
    background-color: #F5BB1B;
}

.shampoo2{
    background-color: #000000;
}

.senior{
    background-color: #173181;
}
.senior2{
    background-color: #F5D02A;
    
}





h1{
    text-align: center;
    padding: 100px;

}

h2{
    margin-bottom: 20px;

}

.banner-wrapper{
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;


}

.banner-box{
    width: calc((100% - 40px) / 2);
    margin-bottom: 100px;
    

}

.pc{
    width: 336px;
    height: 280px;

}



.sp{
    width: 320px;
    height: 280px;
}

.banner-info{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    dt{
        width: 40%;
        margin-bottom: 10px;
    }

    dd{
        width: 60%;
        margin-bottom: 10px;
        font-weight: bold;


        span{
            width: 20px;
            height: 20px;
            display: inline-block;
            margin: 0 10px 0 10px;

            &:first-of-type{
                margin-left: 0;

            }





        }

    }
}